<ion-content class="ion-padding">
  <ion-label class="header">Offers</ion-label>
  <ion-item lines="inset">
    w<ion-label> All offers (6) </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item lines="inset">
    <ion-label> Restaurant picks (1) </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item lines="inset">
    <ion-label> Special offer (2) </ion-label>
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-button
    expand="block"
    color="primary"
    strong="true"
    (click)="close()"
    class="ion-margin-top"
  >
    Done
  </ion-button>
</ion-content>
