ion-toolbar {
  ion-icon {
    font-size: 24px;
  }
}
ion-content {
  position: absolute;
  --background: #f1f1f1;
  --padding-bottom: 50px;
}
.light-bg {
  background: #ffffff;
  z-index: 10;
}
.info {
  font-size: 14px;
  line-height: 1.5;
}
.header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  will-change: transform;
}

ion-list-header {
  --background: #faf9fa;
}
ion-list {
  --ion-background-color: #fff;
}
.meal-row {
  padding-bottom: 0px;
}

.meal-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.border-bottom {
  border-bottom: 1px solid #00000012;
}

::-webkit-scrollbar {
  display: none;
}
.button-bar {
  display: flex;
  overflow-x: scroll;
  z-index: 10;
  border-top: 1px solid #00000012;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  position: fixed;
  top: var(--header-position);
  width: 100%;
  box-shadow: 0px 7px 13px -9px rgb(0 0 0 / 10%);
}
.inactive-category {
  --background: #fff;
  --color: var(--ion-color-primary);
}
.active-category {
  --background: var(--ion-color-primary);
  --color: #fff;
  --border-radius: 30px;
  font-weight: 600;
}
.bar-visible {
  opacity: 1;
  transition: 0.5s;
}
.bar-hidden {
  // Set opacity to 1 during first testing!
  opacity: 0;
  transition: 0.5s;
}
ion-footer {
  font-weight: 600;
  transition: 0.3s;
  &.no-items {
    position: absolute;
    bottom: -150px;
  }
  &.has-items {
    position: inherit;
    bottom: 0px;
  }
  .basket-btn {
    display: flex;
    background: var(--ion-color-primary);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin: 4px;
  }
  .items {
    flex: 1;
    span {
      padding: 4px;
      border-radius: 2px;
      background: #038988;
    }
  }
  .label {
    flex: 4;
    text-align: center;
  }
  .sum {
    flex: 1;
  }
}
